@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
body {
    margin: 0;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

/* Custom styles */
.text-black-100 {
    color: #1a202c;
    font-size: 40px;
    font-weight: 900;
}

.toggle-light {
    background:darkkhaki;
}

.dark .toggle-light {
    opacity: 0;
}

.toggle-dark {
    opacity: 0;
}

.dark .toggle-dark {
    opacity: 1;
    background: rgb(59, 59, 59);
}


.bg-white {
    background-image: url('./assets/bg-light-2.jpg');
}

.dark .bg-dark {
    background-image: url('./assets/bg-dark-2.png');
}

.white-gradient {
    background: linear-gradient(to bottom, #ffffff 50%, rgba(255,255,255,0.85) 70%, rgba(0,0,0,0));
}

.dark .white-gradient {
    background: linear-gradient(to bottom, #000000 50%, rgba(0,0,0,0.85) 70%, rgba(0,0,0,0));
}

/* Ensure specificity for the background images */
.bg-hero {
    background: url('./assets/bg-light-2.jpg') no-repeat center center;
    background-size: cover;
}

.dark .bg-hero {
    background: url('./assets/bg-dark-2.png') no-repeat center center;
    background-size: cover;
}

.text-black {
    color: #000000;
}

.dark .text-black {
    color: #ffffff;
}

.text-white {
    color: #ffffff;
}

.dark .text-white {
    color: #000000;
}

.text-gray-300 {
    color: #d1d5db;
}

.dark .text-gray-300 {
    color: #4b5563;
}
